@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');


:root{
    --light-blue: #666CA3;
    --dark-blue: #13183F;
    --gray: #83869A;
    --dark-pink: #f74780;
    --pink: #FFA7C3;
    --white: #FFFFFF;
    --orange-grad: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --purple-grad: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);

    --very-bold: 800;
    --bold: 700;
    --normal: 500;

}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    margin: 0 auto;
}



header{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
}
header p{
    color: var(--dark-blue);
    font-weight: var(--very-bold);
    font-size: 1.75rem;
    margin-left: 1rem;
}

header button{
    font-weight: var(--bold);
    font-size: 1rem;
    color: var(--white);
    background: var(--dark-blue);
    border-radius: 1.75rem;
    margin-right: 1rem;
    min-width: 8.75rem;
    min-height: 3rem;
}
header button:hover{
    background: var(--light-blue);
    cursor: pointer;
}

footer{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background: var(--dark-blue);
    min-height: 7.5rem;
    align-items: center;
}

footer button{
    font-weight: var(--bold);
    font-size: 1rem;
    color: var(--white);
    background: var(--purple-grad);
    border-radius: 1.75rem;
    min-width: 8.75rem;
    min-height: 3rem;
    margin-right: 1rem;

}

footer button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    cursor: pointer;
}

footer p{
    color: var(--white);
    font-weight: var(--very-bold);
    font-size: 1.75rem;
    margin-left: 1rem;

}

.title{
    font-weight: var(--very-bold);
    font-size: 2.5rem;
}


.container{
    padding: 0 1.8125rem 2rem 1.75rem;
}

.first-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}
.first-box p{
    color: var(--gray);
    font-weight: var(--normal);
    font-size: 1rem;
    line-height: 1.625rem;
}
.first-box button{
    min-width: 10.5rem;
    min-height: 3.5rem;
    border-radius: 2rem;

    color: var(--white);
    background: var(--orange-grad);
    font-weight: var(--bold);
    font-size: 1rem;
}

.first-box button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    cursor: pointer;
}

.box{
    width: 100%;
    margin: 0 1rem;
}

.box a{
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.box h4{
    font-weight: var(--very-bold);
    font-size: 1.25rem;
}

.box p{
    font-weight: var(--normal);
    font-size: 1rem;
    color: var(--gray);
}

.box a{
    color: var(--dark-pink);
    font-weight: var(--bold);
    font-size: 1.125rem;
}

.box div{
    /*padding: 1.75rem;*/
    background: var(--white);
    padding-top: 1rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

/* Paddings for  each box*/
.box a, .box p, .box div,.box h4{
    padding-left: 1.75rem;
    padding-right: 1.75rem;
}
.box a, .box p, .box div{
    padding-bottom: 1rem;
}

.square-text{
    width: 100%;
    background: var(--orange-grad);
    min-height: 7.5rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    font-weight: var(--very-bold);
    color: var(--white);
    line-height: 2rem;
    font-size: 1.5rem;
    margin: 0 1rem 2rem 1rem;
}
.square-text p{
    padding: 1rem 1.6rem;
}


.content {
    display: flex;
    flex-wrap: wrap;
}
.content img{
    z-index: 1;
    margin-bottom: -28px;
    margin-left: 1.75rem;
}

#mobile-img{
    width: 100%;
}

button{
    border: 0;
}

@media screen and (max-width:745px){
    #tablet-img, #desktop-img{
        display: none;
    }
    .box, .square-text{
        width: 100%;
    }
}

@media screen and (min-width:745px){
    #mobile-img, #desktop-img{
        display: none;
    }

    body{
        overflow-x: hidden;
    }

    #tablet-img{
        z-index: -1;
        display: inline-block;
        position: absolute;
        top: -8.125rem;;
        right: -18.125rem;
    }
    
    .first-box{
        max-width: 24.875rem;
    }


    .courses{
        flex-wrap: wrap;
        margin-top: 10rem;
    }

    .box{
        display: flex;
        flex-wrap: wrap;
    }

    .box, .square-text{
        width: 21.25rem;
    }

    .square-text{
        margin-top: 2rem;
        align-items: flex-start;
        font-size: 1.5rem;
    }

    /* write margins for everything*/
    header p, header button, .first-box ,.courses, footer p, footer button{
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
    /* Paddings for  each box*/
    .box a, .box p, .box div,.box h4{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}



@media screen and (min-width: 1200px) {
    #mobile-img, #tablet-img{
        display: none;
    }
    body{
        overflow-x: hidden;
    }
    #desktop-img{
        z-index: -1;
        display: inline-block;
        position: absolute;
        top: -10rem;;
        right: -20rem;
        
    }
    .courses{
        background-color: red;
        flex-wrap: wrap;
        margin-top: 20rem;
        margin-left: 10rem;
        margin-bottom: 8.75rem;
    }

    .box, .square-text{
        width: 21.875rem;
        min-height: 20.125rem;
    }
    .square-text{
        align-items: flex-start;
        font-size: 1.5rem;
    }
    .box{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
 

    /* Paddings for  each box*/
    .box a, .box p, .box div,.box h4{
        padding-left: 1.5rem;
        padding-right: 2em;
    }
    .box a, .box p, .box div{
        padding-bottom: 1rem;
    }
    /* write margins for everything*/
    header p, header button, .first-box ,.courses, footer p, footer button{
        margin-left: 11rem;
        margin-right: 11rem;
    }

    /* write sizes for everything*/
    header p {
        font-size: 2rem;
    }
    header button{
        font-size: 1.125rem;
    }
    .title{
        font-size: 3.5rem;
    }
    .first-box p{
        font-size: 1.125rem;
    }
    .first-box button{
        width: 6.5rem;
        height: 1.75rem;
        font-size: 1.125rem;
    }
    .square-text p{
        font-size: 2rem;
        width: 17.875rem;
        height: 7.5rem;
    }
    .box h4{
        font-size: 1.5rem;
    }
    .box p{
        font-size: 1.125rem;
    }
    .box a{
        font-size: 1.125rem;
    }
    footer p{
        font-size: 2rem;
    }
    footer button{
        font-size: 1.125rem;
    }
}