@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

:root{
    --dark-orange:#FF6F48;
    --light-orange:#FF9B62;
    --dark-blue: #13183F;;
    --dark-grey:#7B8BAD;
    --light-grey: #83869A;
    --white:#FFFFFF;
}

.normal{
    font-weight: 500;
}

.semi-bold{
    font-weight: 700;
}
.bold{
    font-weight: 800;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    width: 100%;

    margin-left: 1rem;
    margin-right: 1rem;
}


.title{
    font-size: 2.5rem;
}

.description{
    color: var(--light-grey);
    font-size: 1rem
}

.grad-button{
    width: 10.4rem;
    height: 3.5rem;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    color: var(--white);
    border-radius: 1.9rem;
}

.course-box{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    min-height: 7.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--white);
}

.icon{
    width: 3.5rem;
    z-index: 1;
    margin-bottom: calc(-3.5rem/2);
}

.box{
    display: flex;
    flex-direction: column;
}

.box div{
    background-color: var(--white);
}

div{
    margin-bottom: 1rem;
}

.box:not(h4){
    font-size: 1rem;
}

h4{
    font-size: 1.25rem;
    margin-top: 3.5rem;
}

p:not(.description){
    color: #F74780;
}

.buttons{
    width: 8.75rem;
    height: 3rem;
    background: var(--dark-blue);
    color: var(--white);
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    border-radius: 1.75rem;
}

.grad-button{
    font-size: 1rem;
}


@media screen and (max-width:450px){
    #tablet-img, #desktop-img{
        display: none;
    }



}